@import "tailwindcss";

:root {
  --background: #1e1e1f;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #1e1e1f;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}